*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aquamarine;
    text-align: center;
}

#addingButton{
    margin: 15px;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(128, 181, 60);
}

#addingButton:hover{
    background-color: rgb(101, 143, 47);
}

.mainConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catGif{
    width: 300px;
    height: 300px;
    margin: 15px;
}

